<div *ngIf="product.data.title" class="card">
<img class="card-img-top" src="{{ product.data.imageUrl }}" *ngIf="product.data.imageUrl" alt="{{ product.data.title}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.data.title }}</h5>
    <p class="card-text">{{ product.data.price | currency:'USD':'symbol'}}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button 
      *ngIf="getQuantity() === 0; else updateQuantity"
      class="btn btn-secondary btn-block" 
      (click)="addToCart()">Add to Cart</button>
      <ng-template #updateQuantity>
        <div class="row no-gutters">
          <div class="col2">
            <button 
              (click)="removeFromCart()"
              class="btn btn-secondary btn-block">-</button>
          </div>
          <div class="col text-center">
            {{ getQuantity() }} in cart
          </div>
          <div class="col2">
            <button 
              (click)="addToCart(product)"
              class="btn btn-secondary btn-block">+</button>
          </div>
        </div>
      </ng-template>
  </div>
</div>