<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Username</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">My orders</button>
        <button class="dropdown-item">Manage Orders</button>
        <button class="dropdown-item">Manage Products</button>
        <button class="dropdown-item">Log out</button>
      </div>
    </div>
  </div>