/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top:80px;
}

.btn {
    cursor: pointer;
}


/* Bootstrap overrides */

$primary-color: #c1d62e;


.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: $primary-color;
    border-color: $primary-color;
}

.form-control:focus {
    border-color: $primary-color;
  }